.mainPage{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.order{
    width: auto;
    margin-left: 50px;
    margin-bottom: 50px;;
}
.order button{
    border: none;
    cursor: pointer;
    background-color: orangered;
    height: 50px;
    width: 180px;
    color: white;
    font-size: 20px;
    border-radius: 30px;
}
